<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <var name="lookupInNameserver" value="8.8.8.8"/>
    <var name="lookupDomain" value="google.com"/>
    <var name="lookupDomainValueRecordA" value="172.217.17.78"/>
    <var name="lookupDomainValueRecordMx" value="aspmx.l.google.com"/>
    <var name="lookupDomainValueRecordMxPrio" value="10"/>
    <var name="lookupDomainValueRecordSoa" value="ns1.google.com. dns-admin.google.com. 201166561 900 900 1800 60"/>
    <var name="lookupDomainValueRecordTxt" value="&quot;v=spf1 include:_spf.google.com ~all&quot;"/>
  </php>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
